<div class="flex flex-col gap-4 w-full max-w-md">
  <div class="text-sm font-medium">Tables</div>
  <div class="overflow-x-auto">
    <table class="table table-zebra">
      <thead>
        <tr>
          <th></th>
          <th>Name</th>
          <th>Job</th>
          <th>Favorite Color</th>
        </tr>
      </thead>
      <tbody>
        <tr><th>1</th><td>Cy Ganderton</td><td>Crystal Engineer</td><td>Blue</td></tr>
        <tr><th>2</th><td>Hart Hagerty</td><td>Desktop Support Technician</td><td>Purple</td></tr>
        <tr><th>3</th><td>Brice Swyre</td><td>Tax Accountant</td><td>Red</td></tr>
      </tbody>
    </table>
  </div>
</div>
